/* You can add global styles to this file, and also import other style files */

/*
Rule:
- Component-specific variable → :host
- Entire application variable → global styles.css me :root
 
:root{
    --main-color : #dc2727;
} 

*/

body{
    margin: 0;
    font-family: Roboto, "Helvetica Neue" sans-serif;
    background-color: rgb(244, 244, 244);
}

.container{
    max-width: 1200px;
    padding: 50px;
    margin: auto;
}

.container-sm{
    max-width: 800px;
    padding: 50px;
    margin: auto;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}